<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/css/about.css}" />
    <link rel="stylesheet" th:href="@{/css/mobile.css}" />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!--za footer-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap"
      rel="stylesheet"
    />
    <!--za footer-->
  </head>
  <body
    style="
      background: url(/images/backF.png) center center no-repeat fixed;
      background-size: cover;
      height: 100%;
    "
  >
    <div class="wrapper">
      <!-- Navigation -->
      <header th:replace="~{fragments/commons::navigation}"></header>

      <div class="info">
        <div>
          <img th:src="@{images/about.jpg}" alt="" />
        </div>
        <div>
          <h4 data-th-text="#{label.about.header}"></h4>
          <p data-th-text="#{label.about.text}"></p>
        </div>
        <div>
          <img th:src="@{images/about2.jpg}" alt="" />
        </div>
      </div>
    </div>
    <!-- Wrapper Ends -->
  </body>
  <footer th:replace="~{fragments/commons::footer}"></footer>
  <script
    src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
    integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
    crossorigin=""
  ></script>
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <!--hfdshfl-->
</html>
