<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::navigation"></header>
<main class="p-5 align-content-center bg-blur my-register-div">
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">

            <div class="col-md-7" th:each="u : ${users}">
                <!-- <form th:action="@{#}" method="post">-->
                <br>
                <div class="profile-card p-3 py-4">
                    <div class="text-center"><img src="/images/profile.jpg" width="100" class="rounded-circle"></div>
                    <div class="text-center mt-3">
                        <h5 class="mt-2 mb-0" data-th-text="#{label.profile.username}">Username</h5>
                        <span th:text="*{u.username}">UI/UX Designer</span>
                        <h5 class="mt-2 mb-0" data-th-text="#{label.profile.firstName}">First name</h5>
                        <span th:text="*{u.firstName}">UI/UX Designer</span>
                        <h5 class="mt-2 mb-0" data-th-text="#{label.profile.lastName}">Last name</h5>
                        <span th:text="*{u.lastName}">UI/UX Designer</span>
                        <h5 class="mt-2 mb-0" data-th-text="#{label.profile.email}">Email</h5>
                        <span th:text="*{u.email}">33</span>
                        <h5 class="mt-2 mb-0" data-th-text="#{label.profile.date}">Date of Birth</h5>
                        <span th:text="*{u.date}">33</span>
                        <h5 class="mt-2 mb-0" data-th-text="#{label.profile.gender}">Gender</h5>
                        <span th:text="*{u.gender}">33</span>
                        <h5 class="mt-2 mb-0" data-th-text="#{label.profile.activity}">Physical Activity</h5>
                        <span th:text="*{u.physicalActivity.label}">33</span>
                        <h5 class="mt-2 mb-0" data-th-text="#{label.profile.specific}">Specific</h5>
                        <div th:each="s : *{u.specific}" >
                            <span th:text="${s.specific.label}" ></span>
                        </div>

                        <ul class="social-list">
                            <li><i class="fab fa-facebook-square"></i></li>
                            <li><i class="fab fa-instagram"></i></li>
                            <li><i class="fab fa-linkedin"></i></li>
                            <li><i class="fab fa-google"></i></li>
                        </ul>


                    </div>
                </div>

            </div>
            <!-- </form> -->
        </div>

    </div>
    </div>
</main>
</body>
<footer th:replace="fragments/commons::footer"></footer>
</html>
