<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns="http://www.w3.org/1999/html"
>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/css/questionStylesResult.css}" />
    <link rel="stylesheet" th:href="@{/css/questionResult.css}" />
    <link rel="stylesheet" th:href="@{/css/mobile.css}" />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!--za footer-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap"
      rel="stylesheet"
    />
    <!--za footer-->
  </head>
  <body>
    <!-- Navigation -->
    <header th:replace="~{fragments/commons::navigation}"></header>

    <section>
      <!--for demo wrap-->
      <h1 data-th-text="#{label.table.head.all}">Резултати от алея</h1>
      <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
          <thead>
            <tr>
              <th data-th-text="#{label.table.question}">Въпрос</th>
              <th data-th-text="#{label.table.otg}">Отговор</th>
              <th data-th-text="#{label.table.podot}">Подотговор</th>
              <th data-th-text="#{label.table.result}">Резултат</th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td data-th-text="#{label.alley.one}">Какъв тип е настилката?</td>
              <td data-th-text="#{label.alley.one.one}">Плочки</td>
              <td></td>
              <td th:text="${result.A1}">0</td>
            </tr>
            <tr>
              <td></td>
              <td data-th-text="#{label.alley.one.two}">Павета</td>
              <td></td>
              <td th:text="${result.A2}">0</td>
            </tr>
            <tr>
              <td></td>
              <td data-th-text="#{label.alley.one.three}">Асфалт</td>
              <td></td>
              <td th:text="${result.A3}">0</td>
            </tr>
            <tr>
              <td></td>
              <td data-th-text="#{label.alley.one.four}">
                Чакъл и подобни насипни материали
              </td>
              <td></td>
              <td th:text="${result.A4}">0</td>
            </tr>
            <tr>
              <td></td>
              <td data-th-text="#{label.alley.one.five}">Липсва настилка</td>
              <td></td>
              <td th:text="${result.A5}">0</td>
            </tr>

            <tr>
              <td data-th-text="#{label.alley.two}">
                Има ли проблеми с настилката в момента?
              </td>
              <td data-th-text="#{label.alley.two.one}">Не, никакви</td>
              <td></td>
              <td th:text="${result.B1}">0</td>
            </tr>
            <tr>
              <td></td>
              <td data-th-text="#{label.alley.two.two}">Да</td>
              <td data-th-text="#{label.alley.two.two.one}">
                Има много неравности
              </td>
              <td th:text="${result.B2}">0</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td data-th-text="#{label.alley.two.two.two}">Хлъзгаво е</td>
              <td th:text="${result.B3}">0</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td data-th-text="#{label.alley.two.two.three}">
                Има наводнени участъци
              </td>
              <td th:text="${result.B4}">0</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td data-th-text="#{label.alley.two.two.four}">Друго</td>
              <td th:text="${result.B5}">0</td>
            </tr>

            <tr>
              <td data-th-text="#{label.alley.three}">Осветено ли е?</td>
              <td data-th-text="#{label.alley.three.one}">
                Да, достатъчно осветено в цялата отсечка
              </td>
              <td></td>
              <td th:text="${result.C1}">0</td>
            </tr>
            <tr>
              <td></td>
              <td data-th-text="#{label.alley.three.two}">
                Да, достатъчно осветено само в някои части на отсечката
              </td>
              <td></td>
              <td th:text="${result.C2}">0</td>
            </tr>
            <tr>
              <td></td>
              <td data-th-text="#{label.alley.three.three}">
                Не е осветено в цялата отсечка
              </td>
              <td></td>
              <td th:text="${result.C3}">0</td>
            </tr>

            <tr>
              <td data-th-text="#{label.alley.four}">
                Има ли хора в тази зона?
              </td>
              <td data-th-text="#{label.alley.four.one}">
                Да, има седящи/стоящи
              </td>
              <td></td>
              <td th:text="${result.D1}">0</td>
            </tr>
            <tr>
              <td></td>
              <td data-th-text="#{label.alley.four.two}">
                Да, има преминаващи
              </td>
              <td></td>
              <td th:text="${result.D2}">0</td>
            </tr>
            <tr>
              <td></td>
              <td data-th-text="#{label.alley.four.three}">
                Да, има седящи/стоящи и преминаващи
              </td>
              <td></td>
              <td th:text="${result.D3}">0</td>
            </tr>
            <tr>
              <td></td>
              <td data-th-text="#{label.alley.four.four}">Няма</td>
              <td></td>
              <td th:text="${result.D4}">0</td>
            </tr>

            <tr>
              <td data-th-text="#{label.alley.five}">
                Има ли озеленяване? (дървета, храсти, тревни площи и др.)
              </td>
              <td data-th-text="#{label.alley.five.one}">
                Да, в добро състояние
              </td>
              <td></td>
              <td th:text="${result.E1}">0</td>
            </tr>
            <tr>
              <td></td>
              <td data-th-text="#{label.alley.five.two}">
                Да, в лошо състояние
              </td>
              <td></td>
              <td th:text="${result.E2}">0</td>
            </tr>
            <tr>
              <td></td>
              <td data-th-text="#{label.alley.five.three}">Не, няма</td>
              <td></td>
              <td th:text="${result.E3}">0</td>
            </tr>

            <tr>
              <td data-th-text="#{label.alley.six}">
                Има ли градско обзавеждане? (пейки, кошчета и др.)
              </td>
              <td data-th-text="#{label.alley.six.one}">
                Да, в добро състояние
              </td>
              <td></td>
              <td th:text="${result.F1}">0</td>
            </tr>
            <tr>
              <td></td>
              <td data-th-text="#{label.alley.six.two}">
                Да, в лошо състояние
              </td>
              <td></td>
              <td th:text="${result.F2}">0</td>
            </tr>
            <tr>
              <td></td>
              <td data-th-text="#{label.alley.six.three}">Не, няма</td>
              <td></td>
              <td th:text="${result.F3}">0</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>

    <footer th:replace="~{fragments/commons::footer}"></footer>

    <script
      src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
      integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
      crossorigin=""
    ></script>
    <script th:src="@{/js/questionResult.js}"></script>
  </body>
</html>
